# Microsoft Visual Studio
*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/

# JetBrains Rider
.idea/

# Ignore development folders
Development

# But not the DotSettings
!Development/VisualStudio/DiKErnel.sln.DotSettings