<?xml version="1.0" encoding="utf-8"?>
<Project>
    <Import Project="..\..\..\..\Development\PublishToFolderBase.pubxml"/>
    <ItemGroup>
        <Content Update="..\..\..\..\Dependencies\Windows\Overtopping\x64\*.*"
                 CopyToPublishDirectory="PreserveNewest"
                 Condition="'$(Platform)' == 'x64'"/>
        <Content Update="..\..\..\..\Dependencies\Windows\Overtopping\x86\*.*"
                 CopyToPublishDirectory="PreserveNewest"
                 Condition="'$(Platform)' == 'x86'"/>
    </ItemGroup>
</Project>